*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 960px;
  background: #F5F5F5;
}
h1{
  text-align: center;
  margin-top: 40px;
  font: serif;
  text-transform: uppercase;
  color: #8FBC8F;
}

img {
  width:100%;
  border-radius: 5px;
}
.container {
  display: flex;
  justify-content: center;

  border: 1px solid green;
  border-radius: 8px;
  width:620px;
  height: 680px;
  margin: 0 auto;
  box-shadow: 10px 10px gray;
  background: Azure;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 125px;
  height: 125px;

  border: 1px solid black;
  border-radius: 5px;

}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 600px;
}

.moves > i {
  margin-left: 60px;
  font-size: 20px;
}

.restart > p {
  margin-right: 60px;
  font-size: 30px;
  cursor: pointer;
}
